<h1>Comunidades</h1>
<% @communities.each do |c| %>
  <div>
    <p><!-- tag p is used to force a line jump -->
      <a class="expand-all" href='#'>
        + <%= link_to "#{c.name}", c.url %>
      </a>
    </p>
    <div class="closed-toggle" id = "<%= "#{c.id}" %>">
      <%= render 'folders', c: c %>
    </div>
  </div>
<% end %>

<h1>Pessoas</h1>
<% @persons.each do |p| %>
  <div id="cms-branch">
    <%= link_to "+\t", '#' %><%= "#{p.name}" %>
  <% if p.is_admin? %>
    <%= button_without_text :'reset-admin-role', _('Reset admin role'), {:action => 'reset_admin_role', :id => p, :q => @q}, :filter => @filter, :confirm => _("Do you want to reset this user as administrator?") %>
  <% else %>
    <%= link_to "#{p.name}", p.url %><%= link_to "#{p.name}", p.url %>, <%= button_without_text :'set-admin-role', _('Set admin role'), {:action => 'set_admin_role', :id => p, :q => @q}, :filter => @filter, :confirm => _("Do you want to set this user as administrator?") %><br>
  <% end %>
  </div>
<% end %>

<h1>Enterprises</h1>
<% @enterprises.each do |e| %>
  <%= link_to "#{e.name}", e.url %><br>
<% end %>
